body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Optional background */
}

#board {
  background-color: lightgray;
  border-bottom: 1px solid black;
  position: relative;
  margin: 20px auto;
  display: block;
}

#game-over-container {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

#game-over-image {
  width: 300px;
  height: auto;
}

#reset-button {
  width: 60px;
  height: auto;
  cursor: pointer;
  margin-top: 20px;
}

#score-container {
  margin-top: 10px;
  font-size: 24px;
  color: black;
}

#final-score {
  font-weight: bold;
}

#best-scores-container {
  margin-top: 20px;
  font-size: 20px;
  color: rgb(85, 85, 85);
  text-align: center;
}

#best-scores-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: black;
}

#best-score {
  font-weight: bold;
  font-size: 18px;
  color: green;
}

/* Styling for the name prompt modal */
#name-prompt-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 300px;
  height: auto;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none; /* Hidden by default */
  text-align: center;
}

#name-prompt-modal div {
  padding: 20px;
}

#name-prompt-modal p {
  font-size: 18px;
  color: black;
  margin-bottom: 15px;
}

#name-prompt-modal input {
  width: 90%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

#name-prompt-modal button {
  background-color: rgb(85, 85, 85);
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#name-prompt-modal button:hover {
  background-color: gray;
}
